<div class="container center">
    <div class="container my-5" style="text-align: center;">
        <h2 class="title"><b>Solved programming problems</b></h2>
    </div>
    <div class="container text-container">
        <ol class="mt-5" class="problem-list">
            <li>
                <b>Reverse string</b>
                <p>Given a text string, reverse the order of the characters. Do not use the
                    language's own methods, only using control structures.</p>
                    <img src="/assets/images/reverseString.png" alt="image solution" width="100%">
                    <a href="https://gist.github.com/leitoj/38c1867edd62604b94d536361a279d69" class="copy">Copy the code</a>
            </li>
            <li>
                <b>Largest number</b>
                <p>Get the largest number in an array, but iterating the array only once.</p>
                    <img src="/assets/images/largest.png" alt="image solution" width="100%">
                    <a href="https://gist.github.com/leitoj/129e93dcbd0cca97039ab6359a0bd175" class="copy">Copy the code</a>
            </li>
            <li>
                <b>Repeated words</b>
                <p>Write a function that counts the number of times a word is repeated</p>
                    <img src="/assets/images/repeatedWords.png" alt="image solution" width="100%">
                    <a href="https://gist.github.com/leitoj/e4954806faf5357ef8d202a20ef38334" class="copy">Copy the code</a>
            </li>
            <li>
                <b>Is Palindrome?</b>
                <p>Write a function that checks if a string is a palindrome</p>
                    <img src="/assets/images/palindrome.png" alt="image solution" width="100%">
                    <a href="https://gist.github.com/leitoj/6046f54c2867902def9f5c2f02b8c1d6" class="copy">Copy the code</a>
            </li>
        </ol>
    </div>
</div>