<div class="container mt-5 mb-4">
    <ul class="nav nav-pills">
        <li class="nav-item" data-aos="flip-left" data-aos-delay="550">
          <a class="btn btn-secondary link-profile" routerLink="/experience/lourdes" routerLinkActive="active">Lourdes</a>
        </li>
        <li class="nav-item" data-aos="flip-left" data-aos-delay="1000">
            <a class="btn btn-secondary link-profile" routerLink="/experience/jose" routerLinkActive="active">Jose</a>
        </li>
    </ul>
</div>
<div class="container center">
    
    <router-outlet></router-outlet>
  
</div>



