<div data-aos="zoom-in-up">
  <h2 style="text-align: center; margin: 0 5rem;" class="title"><b>Jose's Experience</b></h2>
<div class="container mt-5 text-container">
  <p>
    When to my mind come these last three years here in ¡Supérate! I think in all the different activities that we have
    been doing, but in this essay, I will tell you what I have learned these three years in the computer science subject
    and how I have been applying that knowledge in my daily life.<br>
    <br>
    During my first year, I reviewed again all the basic computer concepts that I already knew. Despite being
    familiarized with most of the class, I learned new tools that I can use as Ink scape which have been helping me when
    I need to draw something also we started to review the basic concepts about programming and how to resolve some
    problems in python, at the end of the year we were prepared for our second year.<br>
    <br>
    In my second year, I discovered how to develop web pages, we started learning how to use HTML5 and then some CSS,
    but because I like web development and because that I started to study by myself, and then I learned a lot of CSS
    tags and stuff in just one month. At the end of the year, I learned how to use and manage the backend of webpages
    with PHP and also, how to use MySql to save information.<br>
    <br>
    In this my last year, We reviewed a lot of things in Javascript and, one of the topics that were a real challenge
    was recursion because I hadn't heard about that, but now I'm always trying to solve problems this logical way. Also
    during this year, we put a lot of effort into excel to be ready for our certification. During the last month, I have
    learned a little bit about angular and how to develop a single-page-applications.
  </p>
</div>
</div>

