<div class="header-center" data-aos="fade-up" data-aos-duration="1000">
    <div>
        <h2 class="title" style="font-size: 3rem;">Final Project</h2>
        <p>In this final project you'll see all technologies that we have learned, there are two sections on the page where you can find:</p>
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="btn btn-secondary link-profile" routerLink="/experience" routerLinkActive="active">Our experience</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary link-profile" routerLink="/problems" routerLinkActive="active">Problems</a>
            </li>
        </ul>
    </div>
    <div>
        <img src="/assets/images/image.png" alt="">
    </div>
</div>