<h2 style="text-align: center; margin: 0 5rem;" class="mt-5 title"><b>What have we learned these 3 years in Computer Science?</b></h2>
<div class="container mt-5 text-container">  
  <p>In this section you'll read more about our experience and what we have learned in Computer science those last
    three years where we have been lerning some things as programming concepts and also how to use excel, etc.</p>

  Here are two sections which are:

  <ul>
    <li>
      <a class="nav-link blue " routerLink="/experience/lourdes" routerLinkActive="active">Lourdes Experience</a>
    </li>
    <li>
      <a class="nav-link blue" routerLink="/experience/jose" routerLinkActive="active">Barrios experience</a>
    </li>
  </ul>

  <p>You can read both experiences to know what they have learned from their personal experience and words, those
    experience were written by those persons</p>
</div>
