/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    overflow-x: hidden;
}

.text{
    line-height: 30px;
}

a{
    cursor: pointer;
}

.text-container{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    width: 75%;
    color: #666666;
}
